*{
    box-sizing: border-box;
    outline: none;
    max-width: 100%;
    font-family: Segoe UI;
}

.counter{
    width: 960px;
    margin: 0 auto;
    text-align: center;
}

.counter h1{
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
}

input{
    padding: 10px 30px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    text-align: center;
}

button{
    padding: 10px 30px;
    text-transform: uppercase;
    font-weight: bold;
    background: royalblue;
    border: none;
    color: white;
}